html, body {
    margin: 0;
    padding: 0;
    
    background-color: rgb(31, 33, 35) !important;
    color: rgba(255, 255, 255, .87);

    font-family: Roboto, sans-serif;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

#chat {
    padding: 10px;

    overflow: auto;

    height: calc(100% - 60px);
}

.msg:first-child {
    margin-top: 30px;
}

.msg {
    clear: both;

    padding: 10px;

    margin-bottom: 50px;

    font-size: 16px;

    max-width: 50%;
}

.msg::before {
    content: attr(data-username);

    position: relative;
    display: block;

    margin-top: -35px;
    margin-bottom: 15px;
    margin-left: -10px;
}

.msg-me {
    float: right;
    background-color: rgb(42, 55, 122);
}


.msg-other {
    float: left;
    background-color: rgb(61, 64, 67);
}

#full-input {
    height: 50px;
    width: 100%;

    border-top: 3px solid rgb(102, 102, 102);

    padding: 5px;

    position: absolute;

    bottom: 0;
    left: 0;

    background-color: rgb(61, 64, 67);
}

#message-input {
    width: calc(100% - 60px);
    height: 100%;

    display: inline-block;

    margin: 0;

    background-color: transparent;
    color: rgba(255, 255, 255, .87);

    border: none;

    font-size: 16px;
}

#send-button {
    height: 100%;
    width: 50px;

    background-color: transparent;
    color: rgba(255, 255, 255, .87);
    border: none;

    display: inline-block;
    position: relative;

    margin: 0;
    bottom: 1.5px;
}

::-webkit-scrollbar {
    background-color: #1c1e1f;
    color: #c5c1b9;
}

::-webkit-scrollbar-thumb {
    background-color: #2a2c2e;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #323537;
}

::-webkit-scrollbar-thumb:active {
    background-color: #3d4043;
}

::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

* {
    scrollbar-color: #2a2c2e #1c1e1f;
}